name: Continuous integration

on: [push, pull_request]

jobs:
  fmt:
    name: Formatting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt
      - run: cargo fmt --all -- --check

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy
      - run: cargo clippy --all --tests -- -D warnings

  check:
    name: Check
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain: [stable, nightly]
        use_std: [y, n]
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.toolchain }}
          targets: thumbv6m-none-eabi
      - uses: Swatinem/rust-cache@v2
      
      - name: Check no-std
        if: ${{ matrix.use_std == 'y' }}
        run: cargo check --target thumbv6m-none-eabi --no-default-features
        
      - name: Check std
        if: ${{ matrix.use_std == 'n' }}
        run: cargo check

  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain: [stable, nightly]
        use_std: [y, n]
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.toolchain }}
          targets: thumbv6m-none-eabi
      - uses: Swatinem/rust-cache@v2

      - name: Build no-std
        if: ${{ matrix.use_std == 'y' }}
        run: cargo build --target thumbv6m-none-eabi --no-default-features

      - name: Build std
        if: ${{ matrix.use_std == 'n' }}
        run: cargo build

      - name: Build examples
        if: ${{ matrix.use_std == 'n' }}
        run: cargo build --examples

  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain: [stable, nightly]
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.toolchain }}
      - uses: Swatinem/rust-cache@v2
      - run: cargo test --all --no-fail-fast

  miri:
    name: Miri
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@nightly
        with:
          components: miri
      - uses: Swatinem/rust-cache@v2
      - run: cargo miri test
        env:
          MIRIFLAGS: -Zmiri-disable-isolation

  doc:
    name: Documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - run: cargo doc --all --no-deps --document-private-items
        env:
          RUSTDOCFLAGS: -D warnings
